.main{
  width: 100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.headingDiv{
}

.headingDiv::after{
  content: "";
  display: block;
  position:absolute;
  bottom: -100px;
  right: -100px;
  height: 300px;
  width:300px;
  border-radius: 50%;
  background-color: aqua;
}

.headingDiv::before{
  content: "";
  display: block;
  position:absolute;
  top: -100px;
  left: -100px;
  height: 300px;
  width:300px;
  border-radius: 50%;
  background-color: aqua;
}


.ans{
  border-radius: 5px;
  border: 2px solid grey;
}